<div class="footer">
  <div class="container">
    <div class="socials">
      <a class="btn btn-secondary share-btn" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fdidphinswin.com" target="_blank" title="Share on Facebook">Share on Facebook</a>
      <a class="btn btn-secondary share-btn" href="http://twitter.com/intent/tweet?text=Did%20the%20Miami%20%23Dolphins%20win%3F%20http%3A%2F%2Fdidphinswin.com" target="_blank" title="Share on Twitter">Share on Twitter</a>
      <div class="visible-sm">
        <em>Created by: </em><a class="link link-underline" href="https://brianzotoole.com/?ref={{ site.url }}" target="_blank">Brian O'Toole</a>
      </div>
    </div>
  </div><!--/.container-->
</div><!--/.footer-->