<header class="header">
  <div class="container">
    <em class="logo-text hidden-sm">Did the {{ site.current_team }} Win? By: <a class="link link-underline" href="https://brianzotoole.com/?ref={{ site.url }}" target="_blank">Brian O'Toole</a></em>
    <div class="nav-toggle">
	  <i class="i-menu">
	    <a class=""><i><span>Teams</span></i></a>
      </i><!--/.i-menu-->
    </div><!--/.nav-toggle-->
    <div class="menu-wrapper">
      <ul class="menu-list">
        <li class="browns"><a href="{{site.url_browns}}">Cleveland Browns</a></li>
        <li class="bucs"><a href="{{site.url_bucs}}">Tampa Bay Buccaneers</a></li>
        <li class="jags"><a href="{{site.url_jags}}">Jacksonville Jaguars</a></li>
        <li class="bg-primary"><a href="https://brianzotoole.com/?ref={{ site.url }}" target="_blank">Need a Website?</a></li>
      </ul><!--/.menu-list-->
    </div><!--/.menu-wrapper-->
  </div><!--/.container-->
</header><!--/.header-->